<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/default}">
	<head>
		<script th:src="@{/js/jquery-3.6.4.js}"></script>
		<script type="text/javascript">
			//alert('메인화면');	
			$(function(){
				let content = $('h1').text();
				//console.log(content);
			});
		</script>
	</head>
	
	<th:block layout:fragment="customJs">
	</th:block>
	
	<th:block layout:fragment="customContents">
		<h1 th:text="${content}"></h1>	
	</th:block>

</html>